.calendarcontents
{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Poppins';
    width: 70%;
    gap: 1em;
}

.calendarcontainer
{
    padding: 2em 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.calendar
{
    display: flex;
    padding: 2em 0;
    height: fit-content;
}


@media (max-width: 480px)
{
    .actualcalendar
    {
        width: 70vw !important;
        height: 50vh !important;
    }
}