.smallbutton
{
    width: fit-content;
    padding: 0.5em 1em;
    border-radius: 1.3em !important;
}

.custom-button
{
    border-radius: 1.5em;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border: 2px solid #3880ff;
    background-color: #3880ff;
    color: white;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.custom-button.inverted
{
    background-color: white;
    color: #3880ff;
}

.widebutton
{
    width: fit-content;
    padding: .5em 1em;
}

.bigbutton
{
    padding: 1em;
}