.imagelisticon
{
    display: flex;
    height: 5em;
    object-fit: cover;
    object-position: center;
}

.imagelistitem
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-family: 'Poppins';
    cursor: pointer;
    min-width: 7em;
    gap: .5em;
    max-width: 100%;
}

.wide
{
    width: 14em;
}

.big
{
    height: 6em;
}

.imagelist
{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.imagelisticon
{
    max-width: 100%;
}

.imagesubtitle
{
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: center;
    text-align: center;
    height: 3em;
}

.membershipcontainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.membershipcontent
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins';
    text-align: center;
    width: 70%;
    gap: 2em;
    margin: 2em 0;
}

.membershipheader
{
    font-size: 32px;
    font-weight: 700;
}


.membershipsubheader
{
    font-size: 24px;
    font-weight: 400;
}

.imagesubheader
{
    font-size: 12px;
}

@media (max-width: 1024px)
{
    .imagelist
    {
        gap: 1.5em;
    }
}

@media (max-width: 480px)
{
    .imagelistitem
    {
        gap: 0;
    }

    .imagesubtitle
    {
        height: fit-content;
    }

    .imagelistitem
    {
        max-width: 100%;
    }

    .imagelist
    {
        width: 100%;
    }

    .membershipcontent
    {
        gap: 1em;
    }

    .serviceSelectorContainer
    {
        height: fit-content;
        gap: 1.25;
    }
}