.homepage-container
{}

.locationpagesection
{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 4em 0;
    gap: 8em;
}

.panelheader
{
    font-weight: 670;
    font-size: 24px;
    margin-bottom: 1em;
}

.panelsubheader
{
    font-size: 18px;
    font-weight: 600;
}

.paneltextblock
{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.locationpagesection:nth-of-type(odd)
{
    background-color: #f3f3f3;
}

.smalltext
{
    font-size: 14px;
}

.centertext
{
    text-align: center;
}

.bolded
{
    font-weight: 700;
}

.columnblock
{
    display: flex;
    justify-content: center;
    align-items: start;
    font-family: 'Poppins';
    gap: 4em;
}

.column
{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.columnitem
{
    display: flex;
    align-items: start;
    text-align: left;
    width: 8em;
}

.columncontents
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: .5em;
}

.columnheader
{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1em;
    text-align: left;
}

@media (max-width: 1024px)
{
    .locationsectioncontent
    {
        width: 80%;
    }

    .columnitem
    {
        width: 8em;
    }
}

@media (max-width: 480px)
{
    .locationsectioncontent
    {
        flex-direction: column !important;
        gap: 2em !important;
    }

    .sidebysidepanel
    {
        width: 20em !important;
    }
}