.banner-container
{
    display: flex;
    width: 100%;
    height: 35em;
    justify-content: center;
    position: relative;
    border-radius: inherit;
}

.banner-img
{
    border-radius: inherit;
    display: flex;
    width: 100%;
    max-width: 100%;
    z-index: 0;
}

.banner-img.flip-image
{
    transform: scaleX(-1);
}

.text-container
{
    display: flex;
    width: 100%;
    height: 35em;
    position: absolute;
    box-sizing: border-box;
}

.text-bubble
{
    font-family: 'Poppins';
    width: 50em;
    position: absolute;
    border-radius: 2em;
    background-color: white;
    top: 4em;
    z-index: 1;
    padding: 2em;

}

.text-bubble-center
{
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

.text-bubble-left
{
    left: 10em;
}

.text-bubble-right
{
    right: 10em;
}

.text-bubble-content
{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.text-header
{
    font-size: 28px;
    font-weight: 700;
}

.text-bubble-content
{}

.button-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 100%;
}

.text-content
{
    text-align: center;
}

.text-subheader
{
    font-size: 20px;
    font-weight: 300;
}

@media (max-width: 900px)
{
    .banner-container
    {
        display: none;
    }
}

@media (max-width: 460px)
{
    .serviceSelectorContainer
    {
        width: 100% !important;
        margin-top: 0 !important;
    }

    .membershipheader
    {
        font-size: 26px !important;
    }

    .membershipsubheader
    {
        font-size: 16px !important;
    }

    .imagelistitem
    {
        min-width: 6em !important;
    }

    .imagelist
    {
        gap: 0 .5em !important;
    }

    .membershipcontent
    {
        width: 80% !important;
    }

    .bannerImage
    {
        height: 18em !important;
        width: 23em !important;
    }

    .bannerText
    {
        width: 80% !important;
    }

    .sponsorlist
    {
        justify-content: center !important;
        align-items: center !important;
        gap: 2em !important;
        flex-direction: column !important;
    }
}